@charset "utf-8";
.izq {
	float: left;
	width: 50%;
}
.der {
	float: right;
	width: 50%;
}
.filtros {
	background-color: #CCCCCC;
	border: 1px solid #000000;
    margin-bottom:10px;
}
.tablaResultado {
    margin-bottom:10px;
    overflow-y: scroll;
    height: 250px;
}